.three-js {
  z-index: -1;
}
.chart_title {
  font-size: 18px;
  color: #fff;
}
.area,
.age,
.tenure {
  text {
    color: #fff;
    fill: #fff;
  }
  .x-axis,
  .y-axis {
    path {
      stroke: #fff;
    }
  }
}
.x-axis,
.y-axis {
  text {
    font-size: 14px;
  }
}
