@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';

@import 'd3-tip';
@import 'd3';

body {
  background: #292929;
}
.wrap {
  height: 100vh;
}
.three-js {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  mix-blend-mode: screen;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 2em;
  @media (min-width: 768px) {
    font-size: 4em;
  }
  @media (min-width: 996px) {
    font-size: 8em;
  }
}
